# Rename env.example to .env
# PostgreSQL Database Configuration
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=default
POSTGRES_USER=postgres
# Enter your password
POSTGRES_PASSWORD=password  
